body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  .course {
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 2px solid #007bff; /* Adicionando borda */
  }
  
  h1 {
    color: #007bff;
  }
  
  .module {
    margin-top: 30px;
    border-top: 2px solid #007bff; /* Adicionando borda no topo de cada módulo */
    padding-top: 20px; /* Adicionando espaço entre módulos */
  }
  
  h2 {
    color: #343a40;
  }
  
  iframe {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    border: 2px solid #007bff; /* Adicionando borda */
    border-radius: 8px;
  }
  
  button {
    cursor: pointer;
    padding: 15px 25px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Adicionando responsividade */
  @media only screen and (max-width: 600px) {
    .course {
      padding: 20px;
    }
  
    iframe {
      height: 200px;
    }
  
    button {
      padding: 12px 20px;
      font-size: 16px;
      margin-top: 15px;
    }
  }
  
  